<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings file="Other.config">

    <add key="tfsversion" value="2012"/>
    <add key="Browser" value="CR"/>
    <add key ="DriverPath" value="C:\Automation\prereqs\chromedriver"/>
    <add key="UltimateQAUserName" value="mubbashir.shakil@outlook.com"/>
    <add key="UltimateQAPassword" value="m.shakil26472"/>

  </appSettings>
  <connectionStrings>
    <add name="DBR_CON" connectionString="Data Source=DESKTOPMUBBASHI;Initial Catalog=AutomationServer;Persist Security Info=True;User ID=sa;Password=inte1GREAT" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>